@font-face {
	font-family: "BladeRunnerFont";
	src: url("https://dl.dropboxusercontent.com/u/49397584/fonts/Goudy-Bookletter-1911/goudy_bookletter_1911.otf");
}
p {
	line-height: 190%;
}
.main p {
	text-indent: 1.5em;
	margin-top: 0.1em;
	margin-bottom: 0em;
}

body {
	background-color: black;
	color: white;
	font-size: 50px;
	font-family: "BladeRunnerFont";
	margin: 50px 0px;
	padding: 0px;
}

.main {
	width: 1000px;
	margin-top: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.end {
	width: 640px;
	margin:0 auto;
}

.nexus {
	font-size: 35px;
}

.replicant {
	color: Darkred;
	font-style: italic;
}
